@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: cursive, serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  height: 100%;
}

.title,
.title h1 {
  text-align: center;
  color: #40a9ff !important;
}

.title span {
  padding: 5px;
  border-bottom: 1px solid #40a9ff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: 22a0b6;
  text-align: center;
  font-weight: 400;
}

.lol-main {
  margin-top: 4%;
  text-align: center;
}

.form-button {
  margin-top: 2.2em;
}

.attributes {
  padding: 2rem;
}

.joke-show {
  width: 80%;
  margin: auto;
}

.form-card{
  box-shadow: 0px 0px 7px #e2e2e2;
}

.joke-message{
  margin: 20px;
}

.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  min-height: 0;
  height: 100vh;
  overflow-x: auto;
}